@import '~antd/dist/antd.css';

img {
  display: unset !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*-----------------------*/

.tsparticles-canvas-el {
  background-color: #000000 !important;
  z-index: -1 !important;
  height: 800px !important;
}

canvas {}

.cursor {
  width: 2rem;
  height: 2rem;
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  pointer-events: none;
}