#home {

  h1,
  h2 {
    font-family: 'Sevillana', cursive;
  }

  height:100vh;
  top: 5vh;
  left: 0;
  z-index: 1;
}

#tsparticles {
  position: absolute;
  top: 20vh;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
  /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

body {
  background-color: black !important;

}

html,
body {
  padding: 0;
  margin: 0;
}


.active {
  button {
    background-color: white;
    color: black;
  }
}

.devil-start{
  animation: fadeIn;
  animation-duration: 3s;
}